<a href="https://colab.research.google.com/github/Sangitakumarik/Sangita/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##LOOP
 To repeatating group of statement a certain no of times is calles loop, based on this loops are further classified in to following main types:
* For Loop
* While Loop

## For Loop

For loops can iterate over a sequence of itarable objects in python. Iterating over a sequence is nothing but iterating over string,lists, Tuples, sets and dictionaries.

In [ ]:
for i in range(1,10): # Range exmple
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# Loop in String
name = "Sangita"
for i in name:
  print (i)

S
a
n
g
i
t
a

In [ ]:
# Lopp in List

colors =["RED", "BLUE", "GREEN", "YELLOW", "PINK"]
for color in colors:
  print(color)
  for i in color:
    print(i)

RED
R
E
D
BLUE
B
L
U
E
GREEN
G
R
E
E
N
YELLOW
Y
E
L
L
O
W
PINK
P
I
N
K

In [ ]:
# Range

for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,10):
  print(i)

In [ ]:
for i in range(1,12,3): #skip 3 nos
  print(i)

1
4
7
10

In [ ]:
for i in range(1,10):
  if (i % 2 == 0):
    print (i ," is even")
  else:
    print(i, " Is odd")

1  Is odd
2  is even
3  Is odd
4  is even
5  Is odd
6  is even
7  Is odd
8  is even
9  Is odd