<a href="https://colab.research.google.com/github/Sangitakumarik/Sangita/blob/main/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#STRING
In Python, anything that you inclose between single or double quotation mark is considered as a string. A string is sequence or array of texual data. String are used when working with Unicode characters. strings are immutable (not change) in nature.

In [ ]:
Name = "Sangita"
Friend = "pooja"
AnotherFriend =" " " Ram is her friend and he also likes to eat apple " " "
Apple = 'She said "she want to eat an apple".'
print("Hello " + Name)
print("Hello " + Apple)
print("She said" + AnotherFriend )

Hello Sangita
Hello She said "she want to eat an apple".
She said  Ram is her friend and he also likes to eat apple

In [ ]:
#Count the no of character of Name.
Name = "SANGITA"
print(Name[0])
print(Name[1])
print(Name[2])
print(Name[3])
print(Name[4])
print(Name[5])
print(Name[6])

S
A
N
G
I
T
A

In [ ]:
# Using loop Count the no of character of Name.
Name = "SANGITA"
for character in Name: 
 print(character) 
for character in Friend:
 print(character)

S
A
N
G
I
T
A
P
o
o
j
a

#Slicing in string
In Python, you can slice a string by using the colon (:) operator. The syntax for slicing a string is as follows:



In Python, "slicing" refers to the process of extracting a portion of a sequence (e.g. a string, a list, or a tuple) by specifying a range of indices. Slicing allows you to extract a part of a sequence based on its position or index.

In [ ]:
Name = "Sangita"
length =len(Name)
print(length)
print(Name[0:7])#First index zero
print(Name[:4])#Auto index as zero in python
print(Name[1:4])
print(Name[0:])#Auto last index no (i.e 7) taken by python
print(Name[0:len(Name)-3])# Python automatically takes len(Name) in front of -3
print(Name[0:-3])
print(Name[-3:-1])
print(Name[-7:-1])#Count from back
print(Name[-7:])#Auto index took by python as 0.

7
Sangita
Sang
ang
Sangita
Sang
Sang
it
Sangit
Sangita

# Methoods of string

*   len() : To find the length of the character

*   upper() : To change the character in to upper case.

*   lower() : To change the character in lower case.

*   rstrip() : Removes extra things or symbolls from end of the character only.

*   split() : To split the character eith space we use split() with space.

*   capitalize() : Makes first character capital and rest of them into lower    case.
*   center() : Adds spaces and moves the character into center according to size given.
*  count() : To count the no of element in string.
*  endswith() : Check the value of ends and gives the results in  boolean i.e TRUE and FALSE.
*  find() : To find the first occurrence of character.
* index() : To find the index no of the string.
* isalnum(): Returns True value  when entire string consists of A-Z, a-z, 0-9.if any other character or puntuations found it will returns FALSE.
* islower(): Returns True if all the string are in lower case other wise false.
* isupper(): Returns true if all the string are in upper case other wise false.
* isprintable() : Returns True if all the values within the given string are in printable, if not then returns false.
* isspace() : Returns True when string contains white spaces, else returns False.
* istitle() :Returns true when first latter of each word of the  string are capital,else retuns False.
* title() : The Title () capitalized each letter of the word within the string.

In [ ]:
a = "*** Sita !!!!!!!!!!!!"
print(len(a))
print(a.upper())
print(a.lower())
print(a.rstrip(" !")) #Removes extra things or symbolls from end of the character only.
print(a.split(" "))
print(a.split())
blogheading = "introduction to python and data SCIENCE" #Makes first character capitalize and rest of them into lower case.
print(blogheading.capitalize())
heading = "Welcome to python"
print(heading.center(50))# Adds spaces and moves the character into center according to size given.
print(len(heading))
print(len(blogheading))
str1 = "SANGITA KUMARI !!!"
print(str1.count("A")) #Count A in string " SANGITA"

21
*** SITA !!!!!!!!!!!!
*** sita !!!!!!!!!!!!
*** Sita
['***', 'Sita', '!!!!!!!!!!!!']
['***', 'Sita', '!!!!!!!!!!!!']
Introduction to python and data science
                Welcome to python
17
39
3

In [53]:
#endswith() 
str2 = "SANGITA !!!!!"
print(str2.endswith("!!!")) 
print(str2.endswith ("A", 4,10))
print(str2.endswith("AN",1,3))

#startswith
strr = "!!!!SANGITA"
print(strr.startswith("!!!"))
print(strr.startswith("A", 5,6))

True
False
True
True
True

In [12]:
#find()
str3 = " he's name is Ram" 
print(str3.find("a"))
print(str3.find("h"))
print(str3.find("Rammmm"))#It will display -1 when found unmatching index.

7
1
-1

In [15]:
#index ()
str4 = "My name is sangita 123"
print(str4.index("sangita"))#index no will be 11
# print(str4.index("sangitaaaaaaa")) #Gives error when it  will not found the unmatching index no of element

11

In [27]:
#isalnum() #Need to clear
str5 = "Hello"
print(str5.isalnum())

True

In [30]:
#islower()
str6 = "python"
str7 = "PYTHON"
print(str6.islower())
print(str7.islower())

True
False

In [32]:
#isupper()
str8 = "DATA SCIENCE"
str9 = "data science"
print(str8.isupper())
print(str9.isupper())

True
False

In [34]:
#isprintable()
str10 ="Python is intresting programming Language"
str11 = "Python is intresting programming Language \n" 
print(str10.isprintable())
print(str11.isprintable())# Due to \n it will retuns false because \n is not a printable element.

True
False

In [37]:
#isspace()
str12 = "         " 
str13 = "HELLLO"
print(str12.isspace())
print(str13.isspace())

True
False

In [56]:
#istitle()
str14 = "Artificial Intelligence"
str15 =  "artificial intelligence"
print(str14.istitle())
print(str15.istitle())

True
False

In [59]:
str15 = "ARTIFICIAL INTELLIGENCE"
str16 = "data science"
print(str15.swapcase())
print(str16.swapcase())

artificial intelligence
DATA SCIENCE

In [70]:
str17 = "my name is sangita kumari, i am the student of arka jain unversiry jamshedpur . "
print(str17.title())
str18 = "Hello"
str19 = "hello"
print(str18.istitle()) #True when title starts with capital else false.
print(str19.istitle()) #False because title starts with lower case or a small latter.

My Name Is Sangita Kumari, I Am The Student Of Arka Jain Unversiry Jamshedpur .
True
False